{{#> main}}
  {{#*inline "content"}}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Confirmar Exclusão</h5>
            <p>Você tem certeza que deseja excluir a regra de trabalho <strong>{{regraTrabalho.descricao_regra_trabalho}}</strong>?</p>
            <form method="POST" action="/regra-trabalho/{{regraTrabalho.id_regra_trabalho}}/exclusao">
              <button type="submit" class="btn btn-danger">Excluir</button>
              <a href="/regra-trabalho" class="btn btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/main}}