<!-- Sidebar scroll-->
<div>
  <div class="brand-logo d-flex align-items-center justify-content-between">
    <a href="/" class="text-nowrap logo-img">
      <img src="../assets/images/logos/logo-light.svg" alt="" />
    </a>
    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
      <i class="ti ti-x fs-8"></i>
    </div>
  </div>
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
      <!-- Link para a p치gina principal -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">P치gina Principal</span>
        </a>
      </li>

      <!-- Link para a rota de usu치rios -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/usuario" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:user-rounded-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Usu치rios</span>
        </a>
      </li>

      <!-- para adicionar mais itens seguir padrao abaixo -->

      {{!-- <li class="sidebar-item">
        <a class="sidebar-link" href="/outra-rota" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:outro-icone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Outra Rota</span>
        </a>
      </li> --}}

    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->