<!-- Sidebar scroll-->
<div>
  <div class="brand-logo d-flex align-items-center justify-content-between">
    <a href="/" class="text-nowrap logo-img">
      {{!-- <img src="../assets/images/logos/logo-light.svg" alt="" /> --}}
    </a>
    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
      <i class="ti ti-x fs-8"></i>
    </div>
  </div>
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
      <!-- Link para a página principal -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Página Principal</span>
        </a>
      </li>

      <!-- Link para a rota de usuários -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/usuario" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:user-rounded-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Usuários</span>
        </a>
      </li>

      <!-- Link para a rota de especializações -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/especializacao" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:medal-ribbon-star-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Especializações</span>
        </a>
      </li>

      <!-- Link para a rota de funções -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/funcao" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:case-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Funções</span>
        </a>
      </li>

      <!-- Link para a rota de restrições -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/restricao" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:forbidden-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Restrições</span>
        </a>
      </li>

      <!-- Link para a rota de combatentes -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/combatente" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:users-group-two-rounded-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Combatentes</span>
        </a>
      </li>

      <!-- Link para a rota de regras de trabalho -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/regra_trabalho" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:clock-circle-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Regras de Trabalho</span>
        </a>
      </li>

      <!-- Link para a rota de escalas -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/escala" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:calendar-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Escalas</span>
        </a>
      </li>

      <!-- Link para a rota de turnos de trabalho -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/turno_trabalho" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:clock-square-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Turnos de Trabalho</span>
        </a>
      </li>

      <!-- Link para a rota de turnos de combatentes -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/turno_combatente" aria-expanded="false">
          <span>
            <iconify-icon icon="solar:user-hands-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Turnos de Combatentes</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->