<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Web Gestão Escalas</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="/assets/css/styles.min.css" />
</head>

<body>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      {{> sidebar}}
    </aside>
    <!-- Sidebar End -->

    <!-- Main Wrapper -->
    <div class="body-wrapper">
      <!-- Header Start -->
      <header class="app-header">
        {{> header}}
      </header>
      <!-- Header End -->

      <!-- Conteúdo Principal -->
      <div class="container-fluid">
        {{> content}}
      </div>

      <!-- Rodapé -->
      <footer class="footer text-center py-4">
        <p class="mb-0 fs-4">Desenvolvido por <strong>Lucas Guilherme</strong> | Gestão de Escalas</p>
      </footer>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="/assets/js/sidebarmenu.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <script src="/assets/js/dashboard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <!-- Incluir o arquivo masks.js -->
  <script src="/assets/js/masks.js"></script>
  <script src="/assets/js/bundle.js"></script>
</body>

</html>